@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", serif;
    font-weight: 500;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    unicode-bidi: isolate;
    direction: ltr;
    transition: 1s ease-in;
    background-color: #f3f3f3;
    width: auto;
    
}


.headings {
    font-size: 23px;
    font-family: "Outfit", serif;
    transition: 1s;
    font-weight: 700;
    padding: 0;
    margin-left: 15px;
    position: relative;
    top: 12px;
    color: #353434;

}


#header {
    width: 100%;
    height: 105px;
    background: linear-gradient(270deg, #f3f3f3b3 20%, #fdc200bb 80%);
    position: fixed;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: 10;
    margin: 0;
    box-shadow: 0 10px 30px #ffffffc4;
    border-radius: 0px 0px 20px 20px;
}

#header2 {
    width: 96%;
    height: 28px;
    background: #30303060;
    position: relative;
    backdrop-filter: blur(20px);
    top: -20px;
    margin: 0;
    border-radius: 20px;
    text-align: left;
}

.linksF {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
    top: 3px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway";
    font-weight: 500;
}

.linksF:last-child {
    float: right;
    margin-right: 20px;
    font-weight: 800;
    top: 5.5px;
}


#logo {
    width: 160px;
    display: inline;
    margin: 15px;
    transition: 1s;
}

.whatsappBtn {
    font-size: 35px;
    float: right;
    margin-top: 19px;
    margin-right: 11px;
    transition: 1s;
    color: green;
}

.facebookBtn {
    font-size: 31px;
    float: right;
    margin-top: 20px;
    margin-right: 14px;
    transition: 1s;
    color: rgb(0, 83, 131);
}

#phoneNum {
    float: right;
    margin-top: 16px;
    margin-right: 40px;
    font-size: 15px;
    color: rgb(0, 56, 7);
    font-weight: 600;
}



#MAIN{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#productdiv{
       margin-top: 100px;
    background: #ffffff;
    width: 95%;
    height: fit-content;
     box-shadow: 0 0 20px 5px #cfcfcf, 0 0 40px 10px #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    border-radius: 30px;
}
#pr{
     background: #ffffff;
    width: 95%;
    height: fit-content;
     box-shadow: 0 0 20px 5px #cfcfcf, 0 0 40px 10px #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 15px;
    border-radius: 30px;
 
}
#productImg{
    width: 30%;
    border-radius: 10px;
}

#title{
    font-size:25px;
    font-family: "Outfit", sans-serif;
    
    font-weight: 600;
}
#price{
    position: relative;
    top:50px;
    left: -400px;
}



#priceTag{
    font-weight: 700;
    font-size: 40px
}

#xpriceTag{
    position: relative;
    text-decoration: line-through;
    top: -105px;
    left: -25px;

}

#sDescription{
    text-align: left;
}


.headings{
    position: relative;
    top: 60px;
    margin-bottom: 70px;
}