@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



* {
  font-family: "Outfit", serif;
  font-weight: 500;
  user-select: none;
  animation: fade 2s;
  left: auto;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  unicode-bidi: isolate;
  direction: ltr;
  transition: 1s ease-in;
  background-color: #f3f3f3;
  width: auto;
  animation: fade;
  animation-duration: .05s;
  
  opacity: 100%;
  
}

@keyframes fade {
  0%{
    opacity: 40%;
  }

  100%{
opacity: 100%;
 

  }
}


.headings {
  font-size: 23px;
  font-family: "Outfit", serif;
  transition: 1s;
  font-weight: 700;
  padding: 0;
  margin-left: 15px;
  position: relative;
  top: 12px;
  color: #353434;

}


#header {
  width: 100%;
  height: 105px;
  background: linear-gradient(270deg, #f3f3f3b3 20%, #fdc200bb 80%);
  position: fixed;
  top: 0;
  backdrop-filter: blur(20px);
  z-index: 10;
  margin: 0;
  box-shadow: 0 10px 30px #ffffffc4;
  border-radius: 0px 0px 20px 20px;
}

#header2 {
  width: 96%;
  height: 28px;
  background: #30303060;
  position: relative;
  backdrop-filter: blur(20px);
  top: -20px;
  margin: 0;
  border-radius: 20px;
  text-align: left;
}

.linksF {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  position: relative;
  top: 3px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway";
  font-weight: 500;
}

.linksF:last-child {
  float: right;
  margin-right: 20px;
  font-weight: 800;
  top: 5.5px;
}


#logo {
  width: 160px;
  display: inline;
  margin: 15px;
  transition: 1s;
}

.whatsappBtn {
  font-size: 35px;
  float: right;
  margin-top: 19px;
  margin-right: 11px;
  transition: 1s;
  color: green;
}

.facebookBtn {
  font-size: 31px;
  float: right;
  margin-top: 20px;
  margin-right: 14px;
  transition: 1s;
  color: rgb(0, 83, 131);
}

#phoneNum {
  float: right;
  margin-top: 16px;
  margin-right: 40px;
  font-size: 15px;
  color: rgb(0, 56, 7);
  font-weight: 600;
}

#corsual {
  position: relative;
  top: 95px;
  margin-bottom: 30px;
}

#img1CO {
  width: 100%;
}


#gradesDiv {
  width: 90%;
  height: 100%;
  align-items: center;
  text-align: center;
  background: linear-gradient(270deg, #f1b7b7, #fdc200d5);
  border-radius: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  transition: 1s;
  border: #ffffffe3 3px solid;
  box-shadow: 0 0 20px 5px #d8d8d8, 0 0 40px 10px #ffffff;
}

#gardeDivide2 {
  margin-top: 30px;
  margin-bottom: 30px;
}


.grades1 {
  position: relative;
  text-decoration: none;
  width: 75%;
  color: white;
  margin-bottom: 200px;
  padding: 15px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 60px;
  font-family: 'Sour Gummy';
  transition: 1s;
  font-weight: 600;
  border: #ffffffe3 3px solid;
  backdrop-filter: blur(100px);

}

.grades1:hover {
  border: #ff2802e3 3px solid;
}


#gradeA {
  background: rgba(224, 62, 13, 0.604);
  display: block;
  margin-bottom: 40px;
}

#gradeS {
  background: rgb(226, 147, 0);
}

#grade0 {
  background: rgb(145, 0, 137);
}

#gradeP {
  background: rgb(50, 0, 129);
}

#grade1 {
  background: rgb(150, 147, 0);
}

#grade2 {
  background: rgb(52, 92, 0);
}

#grade3 {
  background: rgb(0, 63, 78);
}

#grade4 {
  display: none;
  background: rgb(92, 2, 194);
}

#grade5 {
  display: none;
  background: rgb(153, 0, 255);
}

#heading2 {
  margin-top: 60px;
}

#bpDiv {
  height: 100%;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  padding: 10px;
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 60px;
}

.bpLink {
  text-decoration: none;

}

.bps {
  width: 40px;
  height: fit-content;
  display: inline-table;
  margin: 5px;
  text-align: left;
  background: white;
  padding: 7px;
  border-radius: 20px;
  box-shadow: 0;
  border: 0 solid #ffffff;
}

.bps:hover {
  border: 2px rgba(175, 175, 175, 0.459) solid;
  padding: 5px;
  box-shadow: 0 0 20px 5px #cfcfcf, 0 0 40px 10px #ffffff;
}

.bpImg {
  width: 260px;
  margin-bottom: -15px;
  border-radius: 15px;
}


.bpTitle {
  margin-left: 6px;
  margin-bottom: -15px;
  font-weight: 300;
  font-size: 15px;
  color: #000;
}

.bpPriceTag {
  margin-left: 6px;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 15px;
  font-weight: 600;
}

#priceStr {
  font-size: 20px;
  font-weight: 700;
}

.whtBtn {
  width: 60%;
  border-radius: 30px;
  margin-top: -3px;
  margin-bottom: 10px;
  margin-left: 8px;
  filter: hue-rotate(90deg);
}

.whtBtn:hover {
  filter: hue-rotate(120deg);
}


@media (max-width: 640px) {
  .grades1 {
    display: block;
    margin: 10px;
  }

  #gradeA {
    background: rgb(204, 58, 0);
    display: block;
    margin-bottom: 40px;
  }

  #gardeDivide2 {
    margin-top: 0px;
    margin-bottom: 20px;
  }

}

@media (max-width: 590px) {
  #bpDiv {
    width: none;
  }

  .bps {
    width: 90%;
  }

  .bpImg {

    margin-bottom: -15px;
    border-radius: 10px;
    width: 100%;
  }

}

@media (max-width: 470px) {
  #phoneNum {
    display: none;
  }

  .grades1 {
    display: block;
    margin: 5px;
    font-size: 16px;
    padding: 10px;
  }

  #gradeA {
    background: rgb(204, 58, 0);
    display: block;
    margin-bottom: 20px;
    margin-top: -9px;
  }

  #gardeDivide2 {
    margin-top: -20px;
    margin-bottom: -5px;
  }



}

@media (max-width: 382px) {
  .linksF {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
    top: 3px;
    font-size: 11px;
    font-weight: 400;
    font-family: "Raleway";
    font-weight: 500;
  }

  .linksF:last-child {
    float: right;
    margin-right: 20px;
    font-weight: 800;
    top: 8.5px;
  }

}


footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #252525;
  color: white;
  text-align: center;
  backdrop-filter: blur(5px);

}

footer {
  background: #e2e2e2;
  margin-bottom: -25px;
  box-shadow: #e2e2e2 0 0 25px, #e2e2e2 0 0 30px, #e2e2e2 0 0 35px, #e2e2e2 0 0 45px, #e2e2e2 0 0 55px, #e2e2e2 0 0 70px, #e2e2e2 0 0 80px, #e2e2e2 0 0 95px, #e2e2e2 0 0 110px, #e2e2e2 0 0 125px;
  border: none;
}

#lineBreaker {
  width: 90%;
}

#cc {
  font-family: "Raleway", sans-serif;
  padding: 20px 0 40px 0;
  font-size: 15px;
  font-weight: 400;
  color: rgb(61, 61, 61);
}



#iconMico {
  width: 50px;
  margin: 0px 30px 0px 30px;
  float: right;
  position: relative;
  top: -15px;
}

.footerA {
  font-family: "Outfit", sans-serif;
  margin-left: 20px;
  color: rgb(64, 64, 64);
  text-decoration: none;
  font-size: 15px;
}

#footerlinksDiv {
  margin: 50px 30px 50px 30px;
}

#footerH3 {
  font-size: 30px;
  color: #000;
}




















.base-template__wrapper {
  max-width: 1780px;
}

.base-template__content {
  max-height: 685px;
}

.base-template__text {
  margin-bottom: 20px;
  color: #707070;
  font-weight: 400;
}

.base-template__title {
  color: #424242;
  font-weight: 500;

}

/**
 * Slider Instance
 */

.slider-section {
  position: relative;
  overflow: hidden;
  padding: 5rem 1px;
  width: 100%;
  height: 685px;
  border-radius: 2.5rem;
  background-image: linear-gradient(-65deg,
      rgba(11, 11, 13, 1),
      rgba(18, 18, 19, 1),
      rgba(49, 51, 52, 1));
  border: #ffffffe3 3px solid;
  box-shadow: 0 0 20px 5px #d8d8d8, 0 0 40px 10px #dfdfdf;
}

.slider-section::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2.5rem;
  border: 1px solid transparent;
  background-image: linear-gradient(70deg,
      rgba(209, 206, 206, 0.6),
      rgba(102, 102, 102, 0.6)) border-box;
  -webkit-mask: linear-gradient(#fff 0, #fff 100%) padding-box,
    linear-gradient(#fff 0, #fff 100%);
  mask: linear-gradient(#fff 0, #fff 100%) padding-box,
    linear-gradient(#fff 0, #fff 100%);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  mix-blend-mode: color-dodge;
  transition: background-color 0.6s ease-in-out;
}

/**
 * Background Slider
 */

.background-swiper {
  width: 100%;
  height: 100%;
}

.background-swiper .swiper-wrapper {
  align-items: center;
}

.slide {
  position: relative;
  overflow: hidden;
  max-width: 280px;
  max-height: 280px;
  width: 100%;
  border-radius: .75rem;
}

.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066;
}

/**
 * Centered Slider
 */

.centered-swiper {
  position: absolute !important;
  top: 50%;
  left: 50%;
  overflow: hidden;
  z-index: 10;
  max-width: 280px;
  max-height: 280px;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

.centered-swiper__slide {
  width: 100%;
  transition: transform 0.6s ease;
}

.background-swiper img,
.centered-swiper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

/**
 * Sliders Info
 */

.slider-section__title {
  margin: 0;
  position: absolute;
  top: 12.5%;
  left: 50%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.slider-section__text {
  margin: 0;
  position: absolute;
  bottom: 10%;
  left: 50%;
  max-width: 280px;
  height: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.3;
  color: #bbbbbb;
  transform: translateX(-50%);
}

@-webkit-keyframes slideOutLeft {
  0% {
    transform: translateX(-50%);
    opacity: 1;
  }

  100% {
    transform: translateX(calc((-50% - 50px)));
    opacity: 0;
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(-50%);
    opacity: 1;
  }

  100% {
    transform: translateX(calc((-50% - 50px)));
    opacity: 0;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    transform: translateX(calc(-50% + 50px));
    opacity: 0;
  }

  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(calc(-50% + 50px));
    opacity: 0;
  }

  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

.hidden-out {
  -webkit-animation: slideOutLeft 0.4s forwards;
  animation: slideOutLeft 0.4s forwards;
}

.hidden-in {
  -webkit-animation: slideInRight 0.4s forwards;
  animation: slideInRight 0.4s forwards;
}

.hidden {
  opacity: 0;
}

/**
 * Slider Control
 */

.slider-section__next-button {
  position: absolute;
  right: 2.5%;
  top: 50%;
  transform: translate(-50%, 2.5%);
}

.slider-section__prev-button {
  position: absolute;
  left: 2.5%;
  top: 50%;
  transform: translate(-50%, 2.5%);
}

.slider-section__next-button,
.slider-section__prev-button {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 400;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  color: white;
  transform: translateY(-50%);
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.35s ease;
  cursor: pointer;
}

.slider-section__next-button.disabled,
.slider-section__prev-button.disabled {
  opacity: 0.45;
  pointer-events: none;
}

.slider-section__next-button:hover,
.slider-section__prev-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fae100;
}

.slider-section__next-button:active,
.slider-section__prev-button:active {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fefe00;
}

@media screen and (max-width: 767px) {
  .slider-section {
    padding: 2.5rem 1px;
    height: 550px;
  }

  .slide {
    max-width: 200px;
    max-height: 200px;
  }

  .centered-swiper {
    max-width: 280px;
    max-height: 280px;
  }

  .slider-section__next-button,
  .slider-section__prev-button {
    width: 50px;
    height: 50px;
    font-size: 0.875rem;
  }

  .slider-section__title {
    top: 15%;
    font-size: 1.5rem;
  }

  .slider-section__text {
    bottom: 10%;
    height: 3.75rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 575px) {
  .base-template__title {
    margin-bottom: 30px;
  }

  .slider-section__title {
    top: 10%;
  }

  .slider-section__text {
    bottom: 7.5%;
  }

  .slider-section__prev-button {
    top: 90%;
    left: 5%;
  }

  .slider-section__next-button {
    top: 90%;
    right: 5%;
  }
}